name: Auto Scrape Rain

on:
  schedule:
    - cron: '0 13 * * *'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      TZ: Asia/Bangkok
      CSV_OUT: tmd_7day_forecast_today.csv
      ENABLE_GOOGLE_DRIVE_UPLOAD: "true"
      DRIVE_FILE_ID: ${{ secrets.PURIPAT_ID }}
      SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT }}
      EMAIL_ENABLED: "false"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium pandas requests google-api-python-client google-auth google-auth-httplib2

      - name: Run scraper
        run: python scrap1.py

      - name: List output
        run: ls -R .

      - name: Upload CSV artifact
        uses: actions/upload-artifact@v4
        with:
          name: tmd_rain_csv
          path: tmd_7day_forecast_today.csv
